rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /devotionals/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /media/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}