@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6C3BF4;
  --primary-dark: #5B2ED1;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.font-serif {
  font-family: var(--font-merriweather), serif;
}